.g-bg-purple {
    background-color: #00a8ff !important;
}

.g-bg-teal, .g-parent:hover .g-bg-primary--parent-hover {
    background-color: #fffc00 !important;
    color: black!important;
}

.color-black {
  color: black!important;
}

.g-brd-gray-light-v4 {
  border-color: #00a8ff!important;
}

a:hover {
    color: #fffc00;
}

.u-go-to-v1:hover, .u-go-to-v1:focus:hover, .u-timeline-v3-wrap::before {
    background-color: #00a8ff;
}

.g-bg-primary--before::before, .g-bg-primary--after::after {
  background-color: #00a8ff!important;
}

.g-brd-primary {
    border-color: #00a8ff !important;
}

.g-bg-primary, #events {
  background-color: #00a8ff !important;
}

.make-space {
  margin-top: 150px;
  margin-bottom: 150px;
}

.make-space a {
  margin: 0 auto!important;
  display: block!important;
  text-align: center!important;
  max-width: 60%!important;
  margin-top: 50px!important;
  margin-bottom: 50px!important;
  background-color: #00a8ff !important;
}

.u-go-to-v1 {
  background-color: #fffc00;
}



.g-color-gray-dark-v5 {
  color: #000!important;
}


.u-heading-v2-1--bottom::after, .u-heading-v2-1--top::before, .u-heading-v2-2--bottom::after, .u-heading-v2-2--top::before, .u-heading-v2-3--bottom::after, .u-heading-v2-3--top::before, .u-heading-v2-4--bottom::after, .u-heading-v2-4--top::before, .u-heading-v2-5--bottom::after, .u-heading-v2-5--top::before, .u-heading-v2-6--bottom::after, .u-heading-v2-6--top::before, .u-heading-v2-7--bottom::after, .u-heading-v2-7--top::before {
  border-color: #fffc00;
}


p, a {
  font-family: myriad-pro, sans-serif!important;
}

h1,h2,h3,h4,h5,h6 {
  font-family: myriad-pro-condensed, sans-serif!important;
}


@media screen and (min-width: 768px) {
  .g-py-18--md {
      padding-top: 10px !important;
      padding-bottom: 10px !important;
  }
}

.w-100 {
  width: 75%!important;
}

@media screen and (max-width: 990px) {
  .w-100 {
    width: 100%!important
  }
}


.g-bg-primary-opacity-0_8--before::after, .g-bg-primary-opacity-0_8--after::after {
  background-color: rgba(0, 168, 255, 0.78)!important
}

.my-title {
  margin-bottom: 50px;
  text-align: center;
}

a {
  color: #00a8ff;
  font-weight: 700;
}

a:hover {
  color:black;
}

.nav-link {
  color: #00a8ff;
}

.nav-link:hover {
  color: black;
}


.start-projektu {
  padding-top: 150px;
  margin-bottom: 100px;

}


.main-site-link {
  color: #FF2A90;
}


a:visited {
  color: black;
}


#start-link {
  color: white!important;
}

#start-link:visited {
  color: white!important;
}

.border-custom {
  border: 1px solid black;
}

.custom-padding-5rem-left {
  padding-left: 5rem!important;
}

@media screen and (max-width: 990px) {
  .custom-padding-5rem-left {
    padding-left:   2.14286rem !important;
  }

}



.g-bg-size-cover {
    background-size: contain !important;
    background-repeat: no-repeat;
}

.nav-link:hover {
  color:#00a8ff;
}


.custom-align {
  text-align: justify;
}



.bg-blue-custom {
  background-color: #00a8ff;
}

@media screen and (min-width: 768px){
.custom-margin-process {
  margin-top: 100px;
}
}


@media screen and (max-width: 570px){

  .custom-logo-width {
    width: 75px!important;
  }

  .align-justify {
    text-align: justify!important;
  }
}


.nav-link {
  font-size: 14px;
}


#custom-line-color::after {
  border-color:#00a8ff!important;
}

p {
  text-align: justify!important;
}

a:visited {
  color:#00a8ff
}


.custom-adress {
  font-size: 17px;
  text-align: left!important;
  margin-bottom: 30px;;

}

.custom-adress a {
  color: #fffc00;
}


.block-same-size {
  max-height: 481px;
}

#start-projektu div {
  padding: 63px;
}

#start-projektu {
  margin-bottom: -80px;
}


