.g-bg-purple {
    background-color: #00a8ff !important;
}

.g-bg-teal, .g-parent:hover .g-bg-primary--parent-hover {
    background-color: #fffc00 !important;
    color: black!important;
}

.color-black {
  color: black!important;
}

.g-brd-gray-light-v4 {
  border-color: #00a8ff!important;
}

a:hover {
    color: #fffc00;
}

.u-go-to-v1:hover, .u-go-to-v1:focus:hover, .u-timeline-v3-wrap::before {
    background-color: #00a8ff;
}

.g-bg-primary--before::before, .g-bg-primary--after::after {
  background-color: #00a8ff!important;
}

.g-brd-primary {
    border-color: #00a8ff !important;
}

.g-bg-primary, #events {
  background-color: #00a8ff !important;
}

.make-space {
  margin-top: 150px;
  margin-bottom: 150px;
}

.make-space a {
  margin: 0 auto!important;
  display: block!important;
  text-align: center!important;
  max-width: 60%!important;
  margin-top: 50px!important;
  margin-bottom: 50px!important;
  background-color: #00a8ff !important;
}

.u-go-to-v1 {
  background-color: #fffc00;
}